<div data-cc-sidebar data-ng-controller="sidebar as vm">
    <div class="sidebar-filler"></div>
    <div class="sidebar-dropdown"><a href="#">Menu</a></div>
    <div class="sidebar-inner">
        <div class="sidebar-widget">
        </div>

        <ul class="navi">
            <li class="nlightblue fade-selection-animation" data-ng-class="vm.isCurrent(s)"
                data-ng-repeat="s in vm.navStates">
                <a ui-sref="{{s.name}}" data-ng-bind-html="s.config.settings.content"></a>
            </li>
            
            <li data-cc-wip
                wip="vm.wip"
                states="vm.states"
                changed-event="{{vm.wipChangedEvent}}"
                class="nlightblue"></li>
            
            <li class="nlightblue">
                <a href="" data-ng-click="vm.clearStorage()">
                    <i class="icon-cloud"></i>Clear Local Storage
                    <span class="pull-right"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
